.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:#52b788;
    color:orangered;
}

.brand-title {
    font-size:40px;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size:30px;
    padding:0 20px;
    display:inline-flex;
    text-decoration: none;
    color:orangered;
    
}

.navbar-links li:hover {
    background-color:lightgreen;
}
footer{
	color:whitesmoke;
	background-color:lightsteelblue;
	letter-spacing: 0.5px;
    padding:20px;
    text-align: end ;
}
footer p{
	margin: 0;
	font-size: 15px;
}